# These are to be added inside the Docker-compose.yaml file as env variables

OTX_API_KEY=your_otx_api_key_here
POSTGRES_DB=cti
POSTGRES_USER=cti
POSTGRES_PASSWORD=your_password_here
DB_PATH=/data/cti.db
POLL_INTERVAL=300
